body {
  font-size: 16px;
  font-family: monospace;
  color: beige;
  background-image: url("https://wallpapers.com/images/hd/gradient-cloudy-weather-kurer753lm2fflzn.jpg");
}

header {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}
h1#location {
  padding: -10px;
  margin-top: 10px;
}
main {
  font-size: 4rem;
}
label {
  font-size: 1rem;
}

#comments-form,
#weather-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#comments-form {
  margin: 0;
}

#temperature {
  margin-top: 0px;
  height: 1vh;
}

#weather-icon {
  max-height: 15vh;
  padding-top: 20px;
}

#weather-description {
  font-size: 1.5rem;
}

#comment-section {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 0px;
  width: 40vw;
  max-height: 10vh;
  overflow: auto;
  height: 20vh;
  overflow: scroll;
  border: 1px solid black;
}

footer {
  display: flex;
  justify-content: center;
}

#form-section {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#comments-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#comment {
  width: 40vw;
}

#home-button {
  position: absolute;
  bottom: 10vh;
  left: 25vh;
  max-width: 10vh;
}

.daySunBG {
  background-image: url(./assets/daySunny.jpg);
}

@media (min-width: 800px) {
  main {
    font-size: 5rem;
  }
  img {
    overflow: hidden;
    object-fit: cover;
  }
  #form-section {
    position: absolute;
    top: 60vh;
    height: 15vh;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
