body {
  font-size: 16px;
  font-family: monospace;
}

header {
  display: block;
  font-size: 2rem;
  text-align: center;
  background-color: red;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

main {
  font-size: 4rem;
}

form,
#weather-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#weather-icon > img {
  max-height: 200px;
}

#weather-description {
  font-size: 1.5rem;
}

#comment-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* text-align: center; */
  font-size: 0.5rem;
  /* background-color: blue; */
  margin: 10px;
  border-radius: 10px;
  padding: 50px;
  width: 40vw;
  height: 20vh;
  overflow: scroll;
  border: 1px solid black;
}

footer {
  display: flex;
  justify-content: center;
}
/* #form-location {
  visibility: hidden;
} */
