body {
  font-size: 16px;
  font-family: monospace;
}

header {
  display: block;
  font-size: 2rem;
  text-align: center;
  background-color: red;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

main {
  font-size: 4rem;
}

#comments-form,
#weather-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#temperature {
  margin-top: 0px;
  height: 1vh;
}

#weather-icon {
  max-height: 20vh;
}

#weather-description {
  font-size: 1.5rem;
}

#comment-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  /* text-align: center; */
  font-size: 0.5rem;
  /* background-color: blue; */
  margin: 10px;
  border-radius: 10px;
  padding: 50px;
  width: 40vw;

  max-height: 30vh;
  overflow: auto;

  height: 20vh;
  overflow: scroll;

  border: 1px solid black;
}

footer {
  display: flex;
  justify-content: center;
}

#form-section {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#comments-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#comment {
  width: 40vw;
}

#home-button {
  position: absolute;
  bottom: 10vh;
  left: 25vh;
  max-width: 10vh;
}

.daySunBG {
  background-image: ;
}

.nightSunBG {
}

.dayRainBG {
}

.nightRainBG {
}

.daySnowBG {
}

.nightSnowBG {
}

.dayCloudBG {
}

.nightCloudBG {
}
